name: Build
on: [ push, pull_request ]
jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 1.8, 11 ]
    steps:
      - uses: actions/checkout@master
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.ij }}
      - name: Build and verify
        run: ./gradlew clean build check --warning-mode all --info --full-stacktrace --parallel
